@media (max-width: 1199.98px) {
    .ml-glider {
        margin-left: 5vw;
    }
    .glider-contain {
        .glider-slide {
            min-width: 240px;
        }
    }
}
@media (max-width: 768px) {
    .navbar{
        .navbar-nav {
            .nav-item {
                margin-left: 0;
            }
        }
    }
    .glider-contain {
        .glider-slide {
            min-width: 340px;
        }
        .glider-next{
            right: 5%;
        }
    }
    .custom-checkbox{
        display: inline-block;
        margin-right: 20px;
        &:last-child{
            margin-right: 0;
        }
    }
    .search-events{
        .collapse{
            background-color: $gray;
            padding: 20px 30px;
            border-radius: 6px;
        }
    }
}
@media (max-width: 576px) {
    .glider-contain {
        .glider-slide {
            min-width: 250px;
        }
    }
    .navbar{
        padding: 20px;
        .navbar-nav {
            .nav-item {
                .nav-link{
                    padding: 30px 10px;
                }
                .cart-dropdown{
                    .cart-menu{
                        min-width: 20rem;
                    }
                }
            }
        }
    }
    .profile {
        .nav {
            display: flex;
            flex-direction: column;
            .nav-item{
                max-width: 90%;
                margin-left: 30px;
                margin-right: 30px;
                .nav-link{
                    padding: 25px;
                }
            }
        }
    }
    .organizer {
        .status{
            margin-bottom: 25px;
        }    
        .sale{
            .card-sale{
                margin-bottom: 25px;
            }
        }
        .list-event{
            margin-top: 50px;
            table{ 
                tbody{
                    tr{
                        .avatar-event{
                            padding: 5px;
                            min-width: 70px;
                            max-width: 80px;
                        }
                    }
                }
            }
        }    
    }
    footer{
        .icon{
            &:first-child{
                margin-left: 0;
            }
        }
    }
}

